<div class="row">
  <div class="col-md-4">
    <%= image_tag @anime.anime_img.url(:anime_show), class: "play-show" %>
  </div>
  <div class="col-md-8">
    <div class="play-info">
      <h2 class="play-title"><%= @anime.title %></h2>
      <h3 class="play-director"><span>By </span><%= @anime.creator %></h3>
      <h4 class="play-director"><%= @anime.category.name %></h4>
      <p class="play-desc"><%= @anime.description %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="reviews">
      <h1> Reviews </h1>
        <%= render @anime.review %>
        <%= link_to "Add Reviews", new_anime_review_path(@anime), class: 'btn-custom' %>
    </div>
  </div>
</div>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @anime.user_id == current_user.id %>
      <%= link_to "Edit", edit_anime_path(@anime), class: "btn btn-custom" %>
      <%= link_to "Delete", anime_path(@anime), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-custom"%>
    <% end %>
  <% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
